* {	margin: 0;	padding: 0;}
a {	text-decoration: none;	color: #1C86EE; cursor: pointer}
a:hover {color: #104E8B;text-decoration: none;}
br.clearfix {clear: both;}
h1,h2,h3,h4 {font-weight: normal;letter-spacing: -1px;color: #2C2B2B;margin-bottom: 1em;}
ul.link li{color: #1C86EE; cursor: pointer}
ul.link li:hover{color: #104E8B;}
.hidden{display: none;}

#wrapper{min-width: 980px;}
a.brand {padding: 0 20px !important;font-weight: bold !important;font-size: 16px !important;border-right: 50px solid transparent;
        border-bottom: 40px solid #104E8B;height: 0;line-height: 40px;color:#fff !important;text-shadow: 0 1px 0 #170420 !important;}
span.logo{float: left;background: url(../i/logo.png) no-repeat left center; width: 30px; height: 35px; margin-right:10px}
.navbar-inner{border-color: #7E7E7E; background: #F0F0F0; border-radius:0 }
.navbar .divider-vertical{border-color: #104E8B;}
.dropdown-menu{margin-top: -1px}
ul.nav li span{float: none; padding: 10px 15px 10px; display: block;}
.navbar .nav > li > a{color: #104E8B}
#home_page{width: 94%;min-height: 100%;padding: 1% 3%;}
.tree_description{float: left; width: 60%;}
.shadow {width: 100%;height: 100%;position: fixed; background: #1C1C1C;opacity: 0.9;z-index: 400;display: none;}
#page {position: relative;width: 100%; margin: 0 0 0 0;height: 500px;}
#sidebar {width: 30%;padding: 0;float:left;overflow: scroll; height: 100%;}
#content {width: 70%;float: left;padding: 0;height: 100%;}
.tabs {height: 100%;}

/* ДЕРЕВО */
.treeview ul div#popup_menu ul{position: absolute;background: rgba(16, 78, 139, 0.9);border-top: solid 1px #1874CD;border-bottom: solid 1px #1C86EE;text-shadow: 0 1px 1px #007D7D;list-style: none;
                               margin: 10px 0; padding: 15px 10px 15px 10px;min-width: 200px;border-radius: 6px;box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);z-index: 20;}
.treeview ul div#popup_menu ul li a{color: white;text-decoration: none;font-family: Georgia, serif;letter-spacing: -1px;margin: 0;padding: 0; position: relative;height: 20px;display: block;cursor: pointer;}
.treeview ul div#popup_menu ul li a:hover{color: #ccc;}
.context_input {float: right;width: 110px;padding: 0!important;text-align: right !important;font-size: 11px !important;}
.treeview { padding: 10px 0; clear: both; font-family: Arial, sans-serif; width: 200%; }
.treeview ul{overflow: hidden; width: 100%;margin: 0;padding: 0 0 1.5em 0;list-style-type: none;}
.treeview ul ul { overflow: visible; width: auto; margin: 0 0 0 0; padding: 0 0 0 0.75em; }
.treeview ul.l { border-left: 1px solid; margin-left: -1px; }
.treeview li.cl ul { display: none; }
.treeview li { margin: 0; padding: 0; }
.treeview li li { margin:0 0 0 20px; border-left: 1px dotted; padding: 0; }
.treeview li div { position: relative; height: 1.5em; min-height: 16px; //height: 1.3em; }
.treeview li li div { border-bottom: 1px dotted; }
.treeview li p{position: absolute;z-index: 1;top: 0.8em; //top: 0.65em;left: 1.55em; width: 100%; margin: 0;border-bottom: 1px dotted #E6E6E6;padding: 0;}
.treeview li p span{margin: 2px 3px 0 1px; float: left}
.treeview li p span.folder{margin: -1px 3px 0 0; float: left; cursor: pointer}
.treeview a i{margin-right: 3px }
.treeview img.i{border-right: 2px solid; border-bottom: 0.5em solid;margin-bottom: -0.5em; vertical-align: middle;}
.treeview a.sc{position: absolute; top: 0.3em; width: 19px; height: 19px; left: -12px; padding: 0; text-decoration: none;}
.treeview a.sc.close_tie{background: url(../i/icons.png) no-repeat -86px -20px;}
.treeview a.sc.open_tie{background: url(../i/icons.png) no-repeat -102px -19px;}
.treeview a.sc.open_req{background: url(../i/icons.png) no-repeat -18px 0;}
.treeview a.sc.close_req{background: url(../i/icons.png) no-repeat 0 top;}
.treeview a.sc.close_req.open_tie{background: url(../i/icons.png) no-repeat 0 0 !important;}
.treeview a.sc.close_req.close_tie{background: url(../i/icons.png) no-repeat -18px 0 !important;}
.treeview a.sc.trash{background:  url(../i/icons.png) no-repeat -298px center !important;}
.treeview a {color: #2C2B2B;font-weight: normal; float: left}
.treeview li p,.treeview img.i,.treeview .sc{background: #fff;}
.treeview li p,.treeview img.i{ border-color: #E6E6FA;font-weight: bold; color: #104E8B;}
.treeview ul li li,.treeview ul li li div{border-color: #104E8B;}
.treeview a.sc,.treeview a.sc:hover{color: #104E8B;}
.treeview a:hover{color: #104E8B;}
li.req.noReqs div {cursor: default;}
li.req.noReqs div p span.folder{color: #7E7E7E;cursor: default;}
li.req div p{color: #000;font-weight: normal;cursor: pointer; margin-top: 3px;}
.treeview p.active{ background: #E6E6E6;}
ul.registration{float: right !important;left:0 !important;color: #feb21f;text-shadow: none;}
ul.registration li a.registration{letter-spacing: 0;font-size: 1em !important;}
.treeview a.open_tab span{width: 16px; height: 16px; float: left;}
.treeview a.open_tie_in_tab span{width: 16px; height: 16px; float: left;}
.treeview a.notification span{width: 16px; height: 16px; background: url(../i/icons.png) no-repeat -186px top;float: left;}
.treeview a.status span{width: 16px; height: 16px; background: url(../i/icons.png) no-repeat -169px top;float: left;}

/* ЗНАЧКИ СТАТУСОВ */
span.status_1{background: url(../i/icons.png) no-repeat -22px -22px;}
span.status_2{background: url(../i/icons.png) no-repeat -48px 0;}
span.status_3{background: url(../i/icons.png) no-repeat -359px -142px;}
span.status_4{background: url(../i/icons.png) no-repeat -95px -118px;}
span.status_5{background: url(../i/icons.png) no-repeat -287px 0;}
.status span{width: 16px;height: 16px; float: left;}

/* ВКЛАДКА УЗЛА */
#tabs_manage_block{ height: 27px; width: 95%; margin: 10px auto 0 auto;}
#tabs_manage_block a{color: #7E7E7E;text-decoration: none;overflow: hidden; width: 70%;display: block;}
#tabs_manage_block ul{list-style: none;}
#tabs_manage_block ul li.active{font-weight: bold;font-size: 13pt;color: #1c1c1c;font-family: verdana, sans-serif;}
#tabs_content_block{height: 85%; width: 97%;margin: 0 auto; border: solid 1px #7E7E7E;position: relative;background:#fff;overflow-y:scroll;}
.panel{width: 99%; padding: 0 0 0 1%;min-width: 650px;margin: 0;height: 40px;border-bottom: solid 1px #7E7E7E;border-right: solid 1px #7E7E7E;background: #F0F0F0; top:0; z-index: 0;}
.panel span.status_1, .panel span.status_2,.panel span.status_3,.panel span.status_4,.panel span.status_5{margin: 2px 4px 4px 5px;}
.panel div.tools{float: right;margin: 10px 54px 0 0;cursor: pointer;}
.panel div.tools span.opener{display: inline-block;border-left: 6px solid transparent;border-right: 6px solid transparent;border-top: 7px solid #7E7E7E;margin-left: 8px;position: relative;top: -1px;}
.panel ul.tools{float: right; list-style: none;margin: 0;width: 200px;background: #F0F0F0; border: 1px solid #7E7E7E; border-top: none;position: absolute;top:40px;right: -1px;z-index: 30; display: none;}
.panel ul.tools li{float: left;margin: 3px 30px 3px 10px; cursor: pointer; width: 100%;}
.panel ul.tools_up{float: right;list-style: none;margin: 0;}
.panel ul.tools_up li{float: left;margin-top: 10px; margin-right: 30px;cursor: pointer;}
.panel ul.save_tools{float: right;list-style: none; margin: 0;border-top: none;position: absolute;right: -1px; z-index: 30;}
.panel ul.save_tools li{ float: left; margin: 10px 30px 0 0;cursor: pointer;}
.panel .current{float: left; position: relative;}
.panel .current div.status{float: left;margin-top: 10px;}
.second_panel {width: 97%; padding: 20px 1% 10px 2%; background: #F0F0F0; border-bottom: 1px solid #DCDCDC;}
.second_panel table.people {width: 50%; float: left;}
.second_panel table.data {width: 50%; float: right;}
.second_panel table.data p {margin: 0}
.second_panel table td.staff {color:#7E7E7E;text-align: right; padding-right: 10px;}
.description{width: 98%; padding: 1%; }
.description img{max-width: 95%;}
span.file {margin-right: 10px; float: left; display: block;}
.node_files{padding-top: 5px}
.description .node_files span.file span.delete {display: none;}
.description a.tip{position: relative; }
.description a.tip span.hidden {position: absolute; width: 300px; z-index: 999;}
.description a.tip:hover span.hidden {display: block; background: #fff; padding: 5px; border: 1px solid #888;visibility: initial;}
.controls .node_files span.file span.delete {width: 16px;height: 16px; float:left; background: url(../i/icons.png) no-repeat -456px 0; cursor: pointer;margin: 3px;}
.content_node{margin-top: 0; padding: 0 20px;overflow-y: inherit; }
.controls.help{display: none}

/* КОРЗИНА */
.trash input[type="checkbox"]{margin: 0 !important;}
.trash label{margin: 0 !important; color: #104E8B !important;}

/* СЛОВАРЬ */
.dic_item{margin-bottom: 50px}
.dic_item h4{margin-bottom: 5px}


.farbtastic {
    position: relative;
}
.farbtastic * {
    position: absolute;
    cursor: crosshair;
}
.farbtastic, .farbtastic .wheel {
    width: 195px;
    height: 195px;
}
.farbtastic .color, .farbtastic .overlay {
    top: 47px;
    left: 47px;
    width: 101px;
    height: 101px;
}
.farbtastic .wheel {
    background: url(../i/wheel.png) no-repeat;
    width: 195px;
    height: 195px;
}
.farbtastic .overlay {
    background: url(../i/mask.png) no-repeat;
}
.farbtastic .marker {
    width: 17px;
    height: 17px;
    margin: -8px 0 0 -8px;
    overflow: hidden;
    background: url(../i/marker.png) no-repeat;
}

/* FOOTER */
#footer {text-align: right;color: #8C8B8B;text-shadow: 0 1px 0 white;height: 5px;font-size: 11px;font-family: sans-serif;padding: 15px 15px;}
#footer a {color: #8C8B8B;}
