* {	margin: 0;	padding: 0;}
a {	text-decoration: underline;	color: #104E8B; cursor: pointer}
a:hover {text-decoration: none;}
body {font-size: 11.5pt;color: #5C5B5B;}
body,input {font-family: Georgia, serif;}
strong {color: #2C2B2B;}
br.clearfix {clear: both;}
h1,h2,h3,h4 {font-weight: normal;letter-spacing: -1px;}
h2 {font-size: 2.25em;}
h2,h3,h4 {color: #2C2B2B;margin-bottom: 1em;}
h3 {font-size: 1.75em;}
h4 {font-size: 1.5em;}
img.alignleft {margin: 5px 20px 20px 0;float: left;}
img.aligntop {margin: 5px 0 20px 0;}
img.pic {padding: 5px;	border: solid 1px #D4D4D4;}
p {	margin-bottom: 1.5em;}
ul {margin-bottom: 1.5em;}
ul h4 {	margin-bottom: 0.35em;}
.hidden{display: none}
.box {overflow: hidden;	margin-bottom: 1em;}
.date {	background: #6E6E6E;padding: 5px 6px 5px 6px;margin: 0 6px 0 0;	color: #FFFFFF;	font-size: 0.8em;border-radius: 2px;}
.table div.hidden, div.hidden{display: none}
/* КНОПКА СЕРАЯ*/
.button {
    float: left;
    position: relative;
    color: #1c1c1c;
    height: 34px;
    background: url(../i/button.png) no-repeat;
    line-height: 32px;
}
.button input[type=submit] {
    border: none;
    background: none;
}

.button span.end_button {
    background: url(../i/button.png) left -90px;
    height: 34px;
    width: 24px;
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    right: -24px;
    overflow: hidden;
}

.button:active {
    background: url(../i/button.png) no-repeat left -49px;
    color: #1c1c1c;
}

.button:active span.end_button {
    background: url(../i/button.png) no-repeat left -139px;
}

.shadow {
    width: 100%;
    height: 100%;
    position: fixed;
    background: #1C1C1C;
    opacity: 0.9;
    z-index: 400;
    display: none;
}
.popup {
    width: 86%;
    height: 86%;
    position: fixed;
    z-index: 500;
    display: none;
    left: 7%;
    top: 7%;
}
.cover_form {
    margin: 6% auto 0 auto;
    width: 40%;
    height: 50%;
    position: relative;
    background: gainsboro;
    border: 1px solid black;
    padding: 1.5%;
    font-size: 13px;
}
.cover_form.small {
    margin: 8% auto 0 auto;
    height: 25%;
 }
.cover_form textarea{
    position: absolute;
    width: 93%;
    height: 70%;
}
#add_node_name_text, #add_file_name_text {
    width: 100%;
    margin: 30px 0;
}

#add_release_name_text, #add_release_number_text, #add_release_date_text{
    width: 100%;
    margin: 10px 0 0 0;
}
#release_description{
    float: left;
    width: 94%;
    height: 140px;
    margin-top: 10px;
}
.cover_form .confirm.button{
    position: absolute;
    bottom: 10px;
    right: 7%;
}
.cover_form .cancel.button{
    position: absolute;
    bottom: 10px;
    left:3.5%;
}
.popupContent {
    margin: 1.5% auto 0 auto;
    width: 95%;
    height: 90%;
    position: relative;
    background: white;
    overflow: scroll;
    z-index: 600;
    display: none;
    border: 1px solid black;
    padding: 1.5%;
    font-size: 13px;
}
#wrapper {
    position: relative;
    width: 100%;
    margin: 0;
    min-width: 900px;
}
#header{
    height: 30px;
    width: 100%;
    /*border-top: solid 1px #1874CD;*/
    border-bottom: solid 10px #104E8B;
    min-width: 1009px;
}
#logo{
    height: 40px;
    width: 320px;
    float: left;
}
#logo a {
	text-decoration: none;
	text-shadow: 0 1px 1px #3E3E3E;
    color: #6E6E6E;
    padding-left: 40px;
    background: url(../i/logo.png) no-repeat left center;
}
#logo h1 {
    font-size: 1.5em;
    padding: 0;
    margin: 2px 0 0 16px;
    float: left;
}

/* <<-- MENU */
#menu {
	padding: 0 0 0 0;
	position: relative;
	margin: 0;
	width: 60%;
    min-width: 590px;
	text-shadow: 0 1px 1px #007D7D;
    float: right;
    border-bottom: 40px solid #104E8B;
    border-left: 50px solid transparent;
    height: 0;
}

#menu div#login_space{
    color: pink;
    float: left;
    padding: 10px 15px 5px 15px;
}
#menu div#login_space a{
    color: #fff;
    text-decoration: none;
}
#menu ul {
	list-style: none;
	padding-top: 3px;
	position: relative;
    float: right;
}
#menu ul li {
	padding: 7px 10px 5px 10px;
	margin-left: 10px;
	display: inline-block;
}
#menu ul li a, #menu ul li span{
	text-decoration: none;
	color: #FFFFFF;
	letter-spacing: -1px;
	font-size: 1.1em;
}
#menu ul li span b {
	display: inline-block;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 7px solid #1C86EE;
	margin-left: 8px;
	position: relative;
	top: -1px;
}
#menu ul li.active {
	background: #1874CD;
	border-top: solid 1px #1C86EE;
	border-bottom: solid 1px #1C86EE;
	border-radius: 3px;
	padding-top: 4px;
	padding-bottom: 4px;
}
#menu ul li.active span b {
	border-top-color: #1C86EE;
}
.dropotron {
	background: rgba(16,78,139,0.9);
	border-top: solid 1px #1874CD;
	border-bottom: solid 1px #1C86EE;
	text-shadow: 0 1px 1px #007D7D;
	list-style: none;
	margin: 0;
	padding: 15px 10px 15px 10px;
	min-width: 200px;
	border-radius: 6px;
	box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
}
.dropotron a, .dropotron span {
	color: #FFFFFF;
	text-decoration: none;
	letter-spacing: -1px;
	display: block;
	width: 100%;
	position: relative;
    height: 20px;
}
.dropotron span b {
	display: inline-block;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 7px solid #00BFFF;
	position: absolute;
	right: 0;
	top: 4px;
}
.dropotron li:hover span b {
	border-left-color: #104E8B;
}
.dropotron li {
	padding: 3px 10px 3px 10px;
	margin: 2px 0 2px 0;
	border-radius: 3px;
}
.dropotron li:hover, .dropotron li.active {
	padding-top: 2px;
	padding-bottom: 2px;
	background: rgba(26,116,205,0.9);
	border-top: solid 1px #1C86EE;
	border-bottom: solid 1px #1C86EE;
}
.dropotron-level-1 {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
label.menu{
    color: #FFFFFF;
    text-decoration: none;
    letter-spacing: -1px;
    margin-left: 10px;
    position: relative;
    height: 20px;
}
/* MENU -->> */


#page {
    position: relative;
    width: 100%;
    margin: 0 0 0 0;
    height: 500px;
    border-top: solid 1px #2C2B2B;;
    /*background: #104E8B;*/
}
#sidebar {
    width: 30%;
    padding: 0;
    float:left;
    overflow: scroll;
    height: 100%;
    background:#ccc;
}
#content {
    width: 70%;
    float: left;
    padding: 0;
    height: 100%;
}

/* <<-- TREE */
#popup_menu{
    display: none;
}
li#create_tie a,li#create_req a {
    text-decoration: none;
    padding-left: 10px;
}
li#create_tie a:hover,li#create_req a:hover {
    text-decoration: none;
    color: #1C86EE;
}
.treeview ul div#popup_menu ul{
    position: absolute;
    background: rgba(16, 78, 139, 0.9);
    border-top: solid 1px #1874CD;
    border-bottom: solid 1px #1C86EE;
    text-shadow: 0 1px 1px #007D7D;
    list-style: none;
    margin: 10px 0;
    padding: 15px 10px 15px 10px;
    min-width: 200px;
    border-radius: 6px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    z-index: 20;
}
.treeview ul div#popup_menu ul li a{
    color: white;
    text-decoration: none;
    font-family: Georgia, serif;
    letter-spacing: -1px;
    margin: 0;
    padding: 0;
    position: relative;
    height: 20px;
    display: block;
    cursor: pointer;
}
.treeview ul div#popup_menu ul li a:hover{
    color: #ccc;
}

.treeview { padding: 10px 0; clear: both; font-family: Arial, sans-serif; width: 100%; }
.treeview ul{
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0 0 1.5em 0;
    list-style-type: none;
}
.treeview ul ul { overflow: visible; width: auto; margin: 0 0 0 0; padding: 0 0 0 0.75em; }
.treeview ul.l { border-left: 1px solid; margin-left: -1px; }
.treeview li.cl ul { display: none; }
.treeview li { margin: 0; padding: 0; }
.treeview li li { margin: 0 0 0 0.5em; border-left: 1px dotted; padding: 0; }
.treeview li div { position: relative; height: 1.5em; min-height: 16px; //height: 1.3em; }
.treeview li li div { border-bottom: 1px dotted; }
.treeview li p{
    position: absolute;
    z-index: 1;
    top: 0.8em; //top: 0.65em;left: 1.55em;
    width: 100%;
    margin: 0;
    /*border-bottom: 1px dotted lavender;*/
    padding: 0;
}
.treeview li p span{margin: 2px 3px 0 1px; float: left}
.treeview li p span.folder{margin: 2px 3px 0 7px; float: left}
.treeview a {padding: 0.1em 0.2em; white-space: nowrap; //height: 1px; text-decoration: none; }
.treeview img.i{border-right: 2px solid; border-bottom: 0.5em solid;margin-bottom: -0.5em; vertical-align: middle;}
.treeview a.sc{position: absolute; top: 0.06em; width: 15px; height: 20px; left: -12px; padding: 0; text-decoration: none;}
.treeview a.sc.close_tie{background: url(../i/icons.png) no-repeat -18px 3px;}
.treeview a.sc.open_tie{background: url(../i/icons.png) no-repeat -1px 3px;}
.treeview a.sc.open_req{background:  url(../i/icons.png) no-repeat -66px center}
.treeview a.sc.close_req{background:  url(../i/icons.png) no-repeat -49px center}
.treeview a.sc.close_req.open_tie{background:   url(../i/icons.png) no-repeat -66px center !important;}
.treeview a.sc.close_req.close_tie{background:  url(../i/icons.png) no-repeat -49px center !important;}
.treeview a.sc.trash{background:  url(../i/icons.png) no-repeat -298px center !important;}

.treeview a {
    color: #2C2B2B;
    font-weight: normal;
    float: left
}
.treeview li p,.treeview img.i,.treeview .sc{
    background: #ccc;
}
.treeview li p,.treeview img.i{
    border-color: #E6E6FA;
    font-weight: bold;
    color: #104E8B;
}
.treeview ul li li,.treeview ul li li div{
    border-color: #104E8B;
}
.treeview a.sc,.treeview a.sc:hover{
    color: #104E8B;
}
.treeview a:hover{
    color: #104E8B;
}
li.req div p{
    color: #000;
    font-weight: normal;
    cursor: pointer;
}
.treeview p.active{
    background: #D6D6D6;
}
ul.registration{
    float: right !important;
    left:0 !important;
    color: #feb21f;
    text-shadow: none;
}
ul.registration li a.registration{
    letter-spacing: 0;
    font-size: 1em !important;
}
.treeview a.open_tab span{width: 16px; height: 16px; float: left;}
.treeview a.notification span{width: 16px; height: 16px; background: url(../i/icons.png) no-repeat -186px top;float: left;}
.treeview a.status span{width: 16px; height: 16px; background: url(../i/icons.png) no-repeat -169px top;float: left;}

span.add, span.edit, span.delete, span.info{
    width: 16px; height: 16px;float: left; opacity: 1; margin: 2px 0 0 5px;
}

span.status_1, span.status_2, span.status_3, span.status_4, span.status_5{
    width: 16px;
    height: 16px;
    float: left;
    opacity: 1;
    margin: 2px 0 0 5px;
    display: block;
}

span.add{ background: url(../i/icons.png) no-repeat -119px top;}
span.edit{background: url(../i/icons.png) no-repeat -137px top;}
span.delete{background: url(../i/icons.png) no-repeat -153px top;}
span.info{background: url(../i/icons.png) no-repeat -169px top;}
span.status_1{background: url(../i/icons.png) no-repeat -218px top;}
span.status_2{background: url(../i/icons.png) no-repeat -234px top;}
span.status_3{background: url(../i/icons.png) no-repeat -250px top;}
span.status_4{background: url(../i/icons.png) no-repeat -266px top;}
span.status_5{background: url(../i/icons.png) no-repeat -282px top;}

span.add.release{
    margin-left: 287px;
    margin-top: -2px;
    cursor: pointer
}
span.add.file{
    margin-right: 5px;
    margin-top: 2px;
    cursor: pointer;
}
a.open_tie_in_tab{color: #104E8B; font-weight: bold;}


/* TREE -->> */
/* <<-- TABS */
#tabs_manage_block{
    height: 27px;
    width: 95%;
    margin: 10px auto 0 auto;
}
#tabs_manage_block a{
    color: #7E7E7E;
    text-decoration: none;
    overflow: hidden;
    width: 70%;
    display: block;
}
#tabs_manage_block ul{
    list-style: none;
}
#tabs_manage_block ul li{
    float: left;
    min-width: 140px;
    padding: 6px 10px 10px 10px;
    height: 10px;
    border-top: solid 1px #7E7E7E;
    border-right: solid 1px #7E7E7E;
    background: #fff;
    overflow: hidden;
    position: relative;
    -moz-border-radius: 10px 10px 0 0; /* Firefox */
    -webkit-border-radius: 10px 10px 0 0; /* Safari, Chrome */
    -khtml-border-radius: 10px 10px 0 0; /* KHTML */
    border-radius: 10px 10px 0 0; /* CSS3 */
}
#tabs_manage_block ul li:first-child{
    border-left: solid 1px #7E7E7E;
}
#tabs_manage_block ul li.active{
    background: #6E6E6E;
    color: #fff;
}
#tabs_manage_block ul li.active:hover{
    background: #6E6E6E;
}
#tabs_manage_block ul li:hover{
    background: #DCDCDC;
}
#tabs_manage_block li.active a{
    color: #DCDCDC;
}
#tabs_manage_block li:hover a{
    /*color: #0F8C8C;*/
    color: #104E8B;
}
/* TABS -->> */
/* <<-- TABS CONTENT */

#tabs_content_block{
    height: 85%;
    width: 97%;
    margin: 0 auto;
    border: solid 1px #7E7E7E;
    overflow-y: scroll;
    position: relative;
    background:#fff;
}
.panel{
    width: 99%;
    padding: 0 0 0 1%;
    min-width: 650px;
    margin: 0;
    height: 40px;
    border-bottom: solid 1px #7E7E7E;
    background: #DCDCDC;
    position: absolute;
    top:0;
}
.panel span.status_1, .panel span.status_2,.panel span.status_3,.panel span.status_4,.panel span.status_5,.panel span.edit,.panel span.delete{
    margin: 2px 4px 4px 5px;
}
.panel .tools{float: right;}
.panel .tools div{
    float: left;
    margin-top: 3px;
    margin-right: 30px;
    cursor: pointer;
}
.panel .current{
    float: left;
    position: relative;
}
.panel .current div.status{
    float: left;
    margin-top: 3px;
}
.panel .current div.time{
    font-size: 11px;
    margin-top: 0;
    float: left;
    bottom: 0;
    margin-left: 7px;
}

.button span.edit,.button span.delete,.button span.info,.button span.status_5{
    margin: 8px 4px 4px 8px;
}
.content_node {width: 97%; padding: 65px 1% 30px 2%;}
.table {display:table; border-collapse: collapse; width: 100%;}
.table div {display:table-row; width: 100%}
.table div div:first-child {display:table-cell; vertical-align: top; margin:10px; padding:10px 5px; border: 1px solid #1c1c1c; width: 20%}
.table div div {display:table-cell; vertical-align: top; margin:10px; padding:10px 5px; border: 1px solid #1c1c1c; position: relative;}
.table.editable div div {border:none;}
.table div div ul, .table div div ol{margin:10px 0 5px 0; padding-left: 40px; }
.table div div table {margin:20px 0 20px 40px; border-collapse: collapse;}
.table div div table tr td {border: 1px solid #888; padding: 5px;}

.table input{width: 98%;
    padding: 0 1%;
    height: 33px;
    margin: -10px 0 0 -5px;
    position: absolute;
}
.table select{width: 98%;
    padding: 0 1%;
    height: 33px;
    margin: -10px 0 0 -5px;
    position: absolute;
    width: 30%;
    min-width:150px;
}
.table #files_redaction input{
    width: auto;
    float: left;
    margin: 5px 5px 0 0;
}
div.wide, #descr_redaction{
    width:80%;
}
.table #redaction{
    width:100%
}
.table #reason_redaction{
    width:100%;
}
.table input[type=submit]{
    float:right;
    width: 200px;
}


#tabs_content_block div.tabs{
    position: relative;
}
.closeTab{
    position: absolute;
    width: 17px;
    height: 15px;
    background: url(../i/icons.png) no-repeat -103px center;
    top:5px;
    right: 5px;
    z-index: 4;
    cursor: pointer;
}
.closeTab:hover{
    background-position: -85px center;
}
.node_files{
    position: relative;
}
span.file {
    display: block;
    float: left;
    margin-right: 10px;
}
span.file a{
    float: left;
}
ul.notification_list{
    list-style: none;
}
ul.notification_list ul{
    margin-top: 30px ;
    list-style: none;
}
ul.notification_list li{
    margin: 10px 0;
}
ul.notification_list li.done{
    opacity: 0.5;
}
ul.notification_list li.active span.note_status{
    display: none;
}
ul.notification_list li input{
    margin: 4px 10px 0 0;
}
.add_notification_to_list{
    width: 100%;
    height: 20px;
    margin-top: 20px;
}
.add_notification_to_list input[type=text]{
    width: 89%;
    float: left;
}
.add_notification_to_list input[type=button]{
    width: 10%;
    float: right;
    height: 23px;
    margin-top: -2px;
}
/* TABS CONTENT -->> */
/* <<--FOOTER */
#footer {
    text-align: right;
    color: #8C8B8B;
    text-shadow: 0 1px 0 #FFFFFF;
    height: 15px;
    padding: 10px 2.5% 10px 0;
    font-size: 11px;
    font-family: sans-serif;
}
#footer a {
    color: #8C8B8B;
}
/* FOOTER -->> */



#page-bottom{
	color: #F5F5F5;
    border-top: dotted 1px #8F8F8F;
    background: #DCDCDC;
}
#search input.form-submit {
	margin-left: 1em;
	color: #FFFFFF;
	padding: 10px;
	background: #1874CD;
	border: 0;
}
#search input.form-text {
	border: solid 1px #8F8F8F;
	padding: 10px;
}

#new_line{
    clear: both;
}

/*styles for jquery ui daterangepicker plugin */

.ui-daterangepickercontain {
    position: absolute;
    z-index: 999;
}
.ui-daterangepickercontain .ui-daterangepicker {
    float: left;
    padding: 5px !important;
    width: auto;
    display: inline;
    background-image: none !important;
    clear: left;
}
.ui-daterangepicker ul, .ui-daterangepicker .ranges, .ui-daterangepicker .range-start, .ui-daterangepicker .range-end {
    float: left;
    padding: 0;
    margin: 0;
}
.ui-daterangepicker .ranges {
    width: auto;
    position: relative;
    padding: 5px 5px 40px 0;
    margin-left: 10px;
}
.ui-daterangepicker .range-start, .ui-daterangepicker .range-end {
    margin-left: 5px;
}
.ui-daterangepicker button.btnDone {
    margin: 0 5px 5px 0;
    position: absolute;
    bottom: 0;
    right: 0;
    clear: both;
    cursor: pointer;
    font-size: 1.1em;
}
.ui-daterangepicker ul {
    width: 17.6em;
    background: none;
    border: 0;
}
.ui-daterangepicker li {
    list-style: none;
    padding: 1px;
    cursor: pointer;
    margin: 1px 0;
}
.ui-daterangepicker li.ui-state-hover, .ui-daterangepicker li.ui-state-active {
    padding: 0;
}
.ui-daterangepicker li.preset_0 {
    margin-top: 1.5em !important;
}
.ui-daterangepicker .ui-widget-content a {
    text-decoration: none !important;
}
.ui-daterangepicker li a {
    font-weight: normal;
    margin: .3em .5em;
    display: block;
}
.ui-daterangepicker li span {
    float: right;
    margin: .3em .2em;
}
.ui-daterangepicker .title-start, .ui-daterangepicker .title-end {
    display: block;
    margin: 0 0 .2em;
    font-size: 1em;
    padding: 0 4px 2px;
}
.ui-daterangepicker .ui-datepicker-inline {
    font-size: 1em;
}
.ui-daterangepicker-arrows {
    padding: 2px;
    width: 204px;
    position: relative;
}
.ui-daterangepicker-arrows input.ui-rangepicker-input {
    width: 158px;
    margin: 0 2px 0 20px;
    padding: 2px;
    height: 1.1em;
}
.ui-daterangepicker-arrows .ui-daterangepicker-prev, .ui-daterangepicker-arrows .ui-daterangepicker-next {
    position: absolute;
    top: 2px;
    padding: 1px;
}
.ui-daterangepicker-arrows .ui-daterangepicker-prev {
    left: 2px;
}
.ui-daterangepicker-arrows .ui-daterangepicker-next {
    right: 2px;
}
.ui-daterangepicker-arrows .ui-daterangepicker-prev:hover,
.ui-daterangepicker-arrows .ui-daterangepicker-next:hover,
.ui-daterangepicker-arrows .ui-daterangepicker-prev:focus,
.ui-daterangepicker-arrows .ui-daterangepicker-next:focus {
    padding: 0;
}