
<div class="table">
    <div class='content_node' style="MARGIN-top: 20px">
            <table class="release">
                <thead>
                <tr>
                    <th></th>
                    <th>Статус</th>
                    <th>Название</th>
                    <th>Номер</th>
                    <th>Дата выхода</th>
                    <th>Описание</th>
                </tr>
                </thead>
                {% for item in releases %}
                    <tr class="wideItem underline {{ item.id  }}">
                        <td style="width: 100px">
                            <a class="btn btn-small btn-info" onclick="editRelease({{ item.id }})"><i class="icon-edit icon-white" ></i> </a>
                            {% if item not in cant_delete %}
                                <a class="btn btn-small btn-info" onclick="deleteRelease({{ item.id }})"><i class="icon-trash icon-white" ></i> </a>
                            {% endif %}
                        </td>
                        <td><input type="checkbox" disabled="true" {% if item.status %} checked="true" {% endif %}></td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.number  }} </td>
                        <td>{{ item.date.date}}</td>
                        <td colspan="2">{{ item.description }}</td>
                    </tr>
                    <tr class="wideItem hidden {{ item.id  }}">
                        <td><a class="btn btn-small btn-success" onclick="saveRelease({{ item.id }})"><i class="icon-ok icon-white" ></i> Сохранить</a></td>
                        <td><input type="checkbox" name="status_{{ item.id }}" {% if item.status %} checked="true" {% endif %}></td>
                        <td><input type="text" value="{{ item.name }}" name="name_{{ item.id }}"> </td>
                        <td><input class="input-small" type="text" value="{{ item.number }}" name="number_{{ item.id }}"> </td>
                        <td><div class="hint_popup" data-title="Y-m-d, Например: 2014-01-25"><input class="input-small" type="text" value="{{ item.date|date:"Y-m-d" }}" name="date_{{ item.id }}"> </div></td>
                        <td colspan="2"><textarea rows="4" cols="45" name="description_{{ item.id }}"> {{ item.description }}</textarea></td>
                    </tr>
                {% endfor %}
                <tr class="wideItem underline new">
                    <td><a class="btn btn-small btn-success" onclick="saveRelease('new')"><i class="icon-ok icon-white" ></i> Сохранить</a></td>
                    <td></td>
                    <td><input  style="width: 75%" type="text" value="" name="name_new"> </td>
                    <td><input type="text" class="input-small" value="" name="number_new"> </td>
                    <td><div class="hint_popup" data-title="Y-m-d, Например: 2014-01-25"><input class="input-small" type="text" value="{{ item.date|date:"Y-m-d" }}" name="date_new">  </div></td>
                    <td colspan="2"><textarea rows="1" cols="45" name="description_new"></textarea></td>
                </tr>

            </table>
    </div>
</div>