
<div class="table">
    <div class='content_node' style="margin-top: 20px">
        <table class="release">
            {% for item in sources %}
                <tr class="wideItem underline {{ item.id  }}">
                    <td><input type='text' value="{{ item.source }}" class="source" readonly="true" disabled="true"></td>
                    <td> <input type="button" onclick="deleteSource({{ item.id }})" value="Удалить" class="btn"></td>
                </tr>
            {% endfor %}
            <tr>
                <td><input type='text' value="" class="source" id='new_source'> </td>
                <td><input type="button"  onclick="addSource()" value="Добавить" class="btn btn-success"></td>
            </tr>
        </table>
    </div>
</div>