<div class='table edit'>
    <form method="post" action="/addRequirement/">{% csrf_token %}
        <div>
            <div id='name'><label for='req_name_{{ req.id }}'>Имя:</label></div>
            <div id='name_redaction'>
                <input type='text' id='req_name_{{ req.id }}' name='name' value="{{ req.name }}"/>
            </div>
        </div>
        <div id='purpose'>
            <div><label for='req_purpose_{{ req.id }}'>Цель создания:</label></div>
            <div id='req_purpose'>
                <input type="text" id="req_purpose_{{ req.id }}" name='reason' value="{{req.purpose}}"/>
            </div>
        </div>
        <div id='description'>
            <div><label for='req_descr_{{ req.id }}'>Описание:</label></div>
            <div id='req_description'>
                <textarea id="req_descr_{{ req.id }}" class="big_text" name='description'>{{req.description}}</textarea>
            </div>
        </div>
        <div id='data'>
            <div><label for='req_data_{{ req.id }}'>Введи дату выполнения:</label></div>
            <div id='datatime'>
                <input type="label" id='add_data' name="req_deadline" value={{ req.deadline }}/>
            </div>
        </div>
        <div id='redaction'>
            <div id='files'>Файлы:</div>
            <div id='files_redaction'>
                {% for i in req.files.all %}
                    <div id="new_line"></div><input type="checkbox" id="file_{{ i.id }}" name="req_files" value="file_{{ i.id }}">
                    <a target="_blank" href='/media/{{ i.file }}' > {{ i.name }}</a>;
                {% endfor %}
                <input type='button' name='adding_files' value='добавить файл'>
            </div>
        </div>
        <div id='release'>
            <div>выбери релиз:</div>
        </div>

        <div id='authors'>
            <div><label for='authors_{{ req.id }}'>Добавить авторов:</label></div>
            <div >
                <select MULTIPLE name="authors" id='authors_' size='10'>
                    {% for i in people %}
                        <option value="author_{{ i.id }}">{{ i.username }} {{ i.last_name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div id='authors'>
            <div><label for='redactors_{{ req.id }}'>Добавить редакторов:</label></div>
            <div class='wide'>
                <select MULTIPLE  name="redactors" id='redactors_' size='10'>
                    {% for i in people %}
                        <option value="redactor_{{ i.id }}">{{ i.username }} {{ i.last_name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div>
            <div>
                <div class="hidden">
                    <input type="text" name='parentId' value="{{parent.id}}"/>
                    <input type="text" name='node' value="{{req.id}}"/>
                </div>
            </div>
            <div><input type="submit" value="Сохранить"></div>
        </div>
    </form>
</div>

