<div class='table edit'>
    <form method="post" action="/addNode/">{% csrf_token %}
        <div>
            <div id='name'><label for='node_name_{{ node.id }}'>Имя:</label></div>
            <div id='name_redaction'>
                <input type='text' id='node_name_{{ node.id }}' name='name' value="{{ node.name }}"/>
            </div>
        </div>
        <div id='description'>
            <div><label for='req_descr_{{ node.id }}'>Описание:</label></div>
            <div id='req_description'>
                <textarea id="req_descr_{{ node.id }}" class="big_text" name='description'>{{node.description}}</textarea>
            </div>
        </div>
        <div id='redaction'>
            <div id='files'>Файлы:</div>
            <div id='files_redaction'>
                {% for i in node.files.all %}
                    <div id="new_line"></div><input type="checkbox" id="file_{{ i.id }}" name="node_files" value="file_{{ i.id }}">
                    <a target="_blank" href='/media/{{ i.file }}' > {{ i.name }}</a>;
                {% endfor %}
                <input type='button' name='adding_files' value='добавить файл'>
            </div>
        </div>
        <div id='release'>
            <div>выбери релиз:</div>
            <div id='release_choosing'>
                <select name="releases" size="2" id='releases'>
                    {% for i in releases %}
                        <option value="{{ i.id }}">{{ i.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div id='curators'>
            <div>назначь куратора:</div>
            <div id='curator_choosing'>
                <select name="curator" size="10" id='curator'>
                    {% for i in people %}
                        <option value="{{ i.id }}">{{ i.username }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div>
            <div>
                <div class="hidden">
                    <input type="text" name='parentId' value="{{parent.id}}"/>
                    <input type="text" name='node' value="{{node.id}}"/>
                </div>
            </div>
            <div><input type="submit" value="Сохранить"></div>
            <div><input type="button" value="Отмена" id='cancel'/></div>
        </div>
    </form>
</div>

