<div class="panel">
    <div class="current">
        <div class="status" style="color:{{ node.cur_status.color }}">
            <span class="status_{{ node.cur_status.id }}"></span>{{ node.cur_status.title }}
        </div>
    </div>
    <ul class="save_tools" id='{{ node.type }}_{{ node.name_id }}'>
        <li class="edit " onclick="saveNode($(this).parent().attr('id'))">
            <span class="edit node"></span>
            Сохранить

        </li>
        <li class="delete " onclick="cancelEditNode($(this).parent().attr('id'))">
            <span class="delete node"></span>
            Отменить

        </li>
    </ul>
</div>

<div class='content_node'>
    <div class='table editable'>


        <div class="wideItem">
                Название:
        </div>
        <div class="wideItem">
            <div class="line">
                <input type="text" name='title' id='nodeTitle' value="{{ node.title }}">
            </div>
        </div>

        <div class="margin"></div>


        <div class="wideItem">
            <div class="halfItem">
                <div class="line">
                    <div class="halfItem left">Куратор: </div><div class="halfItem">{{ node.curator.first_name }} {{ node.curator.last_name }}</div>
                </div>
                <div class="line">
                    <div class="halfItem left">Разработчик: </div><div class="halfItem"><select id="selectDeveloper" name="developer">
                    <option value="None">None</option>
                    {% for dev in developers %}
                        {% if dev == node.developer %}
                            <option value="{{ dev.id }}" selected="true">{{ dev.get_full_name }}</option>
                        {% else %}
                            <option value="{{ dev.id }}">{{ dev.get_full_name }} </option>
                        {% endif %}
                    {% endfor %}
                </select></div>
                </div>
                <div class="line">
                    <div class="halfItem left">Тестировщик: </div><div class="halfItem"> <select id="selectTester" name="developer">
                    <option value="None">None</option>
                    {% for tester in testers %}
                        {% if tester == node.tester %}
                            <option value="{{ tester.id }}" selected="true">{{tester.get_full_name }} </option>
                        {% else %}
                            <option value="{{ tester.id }}">{{tester.get_full_name }} </option>
                        {% endif %}
                    {% endfor %}
                </select></div>
                </div>
            </div>
            <div class="halfItem">
                <div class="line">
                    <div class="halfItem left">Статус: </div>
                    <div class="halfItem">
                        <select id="selectStatus" name="status" onchange="AskWhy('status')">
                            {% for status in statuses %}
                                {% if status == node.cur_status %}
                                    <option value="{{ status.id }}" selected="true">{{status.title }} </option>
                                {% else %}
                                    <option value="{{ status.id }}">{{status.title }} </option>
                                {% endif %}
                            {% endfor %}
                     </select>
                    </div>
                </div>
                <div class="line">
                    <div class="halfItem left">Релиз: </div>
                    <div class="halfItem">
                        <select id="selectRelease" name="release" onchange="AskWhy('release')">
                            <option value="None">None</option>
                            {% for release in releases %}
                                {% if release == node.cur_release %}
                                    <option value="{{ release.id }}" selected="true">{{release }} {{release.date.date|date:'Y-m-d' }} </option>
                                {% else %}
                                    <option value="{{ release.id }}">{{release }} {{release.date.date|date:'Y-m-d' }} </option>
                                {% endif %}
                            {% endfor %}
                        </select> <span class="add release" onclick="ShowAddReleaseForm()"></span>
                    </div>
                </div>
                <div class="line">
                    <div class="halfItem left">Источник: </div>
                    <div class="halfItem">
                        <select id="selectSource" name="source">
                            <option value="None">None</option>
                            {% for source in sources %}
                                {% if source == node.source %}
                                    <option value="{{ source.id }}" selected="true">{{source }} </option>
                                {% else %}
                                    <option value="{{ source.id }}">{{source }} </option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>


        <div class="margin"></div>
        <div class="wideItem">Уточнения источника:</div>
        <div class="wideItem">
            <textarea id='source_textArea' class="small_text" name='source_content'>{% if node.source_description %}{{ node.source_description|safe }}{% endif %}</textarea>
        </div>


        <div class="margin"></div>
        <div class="wideItem">Описание: </div>
        <div class="wideItem">
            <textarea id='content_textArea' class="big_text" name='description_content'>{% if node.content %} {{ node.content|safe }}{% endif %}</textarea>
        </div>

        <div class="margin"></div>
        <div class="wideItem">
            <div class="files">
                <p>Файлы:
                <p><span>
                    <a onclick="ShowAddfileForm()">Добавить файл</a>
                    <span class="add file" onclick="ShowAddfileForm()"></span>
                </span>
            </div>
            <div class="node_files">
                {% for file in node.files.all %}
                    <span class="file"><a id='f_{{ file.id }}' href="/media/{{ file.file }}" target="_blank">{{ file.name }}</a><span id='file_{{ file.id }}' class="delete"></span>;</span>
                {% endfor %}
            </div>
        </div>

        <textarea class="hidden" name='product' id='release_comment' ></textarea>
        <textarea class="hidden" name='product' id='status_comment' ></textarea>
        <input type=text class="hidden" id='cur_node_id' value="{{ node.id }}">
    </div>
</div>

<div class='hidden add_file_form' >
    <div class="cover_form" >
        <iframe class="hidden" id=hiddenframe name=hiddenframe style="width:0; height:0; border:0"></iframe>
        <form enctype=multipart/form-data action='/addFileToNode/' method=post name=load_file id='loadingFile' target=hiddenframe>
            <input type=hidden name='size' value=64000>
            <input type='text' name='node' id='node_id' value="{{ node.name_id }}" class="hidden" >
            <input type='text' name='name' id='add_file_name_text' value='Как называется твой новый файл?'>
            <input type="file" name='file' id="id_file">

            <div class="cancel button" onclick="showPopup(false)">
                <span class="delete"></span>
                Отменить
                <span class="end_button"></span>
            </div>
            <div class="confirm button"  onclick="SaveFile()">
                <span class="status_5"></span>
                    <input type='submit' value="Добавить">
                <span class="end_button"></span>
            </div>
        </form>
    </div>
</div>

<div class='hidden add_release_form'>
    <div class="cover_form">
        <input type=text class="hidden" name='node_id' value="{{ node.id }}">
        <input type=text class="hidden" name='product' id='release_product' value="">
        <input type='text' name='release_name' id='add_release_name_text' value='Как называется новый релиз?'>
        <input type='text' name='release_number' id='add_release_number_text' value='Какой номер релиза?'>
        <input type='text' name='release_date' id='add_release_date_text' value="Год-месяц-день">
        <textarea name="release_description" id='release_description' >Оставьте описание релиза тут</textarea>
        <div class="cancel button" onclick="showPopup(false)">
            <span class="delete"></span>
            Отменить
            <span class="end_button"></span>
        </div>
        <div class="confirm button"  onclick="addRelease()">
            <span class="status_5"></span>
            Добавить
            <span class="end_button"></span>
        </div>
    </div>
</div>

<div class='hidden ask_why'>
    <div class="cover_form">
        <textarea name="release_description" id='change_description' >Оставьте комментарий тут</textarea>
        <div class="cancel button" onclick="showPopup(false)">
            <span class="delete"></span>
            Отменить
            <span class="end_button"></span>
        </div>
        <div class="confirm button"  onclick="addComment($(this).parent().attr('id'), $('#change_description').val())">
            <span class="status_5"></span>
            Сохранить
            <span class="end_button"></span>
        </div>
    </div>
</div>