<div class="panel" style="top:-20px">
    <ul class="tools_up" id='{% if node %}{{ node.type }}_{{ node.name_id }}{% elif product %}PR_{{ product.short_name }}{% endif %}'>
        <li class="edit " onclick="editNodeLessEditable($(this).parent().attr('id'))">
                <span class="edit node"></span>
                Редактировать
        </li>
        {% if node %}
            <li class="delete " onclick="showDeleteNodePopup($(this).parent().attr('id'))">
                <span class="delete node"></span>
                Удалить
            </li>
        {% endif %}
    </ul>
</div>

<div class='description'>
    <br class="clearfix"/>
    {% if node %}
        <div style="margin-top: 20px">{{ node.content|safe }}</div>
    {% endif %}

    {% if  product %}
        <div style="margin-top: 20px">{{ product.description|safe }}</div>
    {% endif %}
</div>


<div class='hidden deletion_form'>
    <div class="cover_form">
        <textarea id='deletion_comment'>Оставьте комметарий</textarea>

        <div class="cancel">
            <input type="button" onclick="showPopup(false)" value="Отменить">
            <span class="delete"></span>
        </div>

        <div class="confirm" >
            <input type="button"  onclick="DeleteNode($(this).parent().parent().attr('id'), $('#deletion_comment').val())" value="Удалить">
            <span class="status_5"></span>
        </div>
    </div>
</div>
