<!doctype html>
<html>
<head>
    <title>AnyChart requirements tree</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="icon" type="image/ico" href="/media/i/favicon.ico"/>


    <link rel="stylesheet" type="text/css" href="/media/css/bootstrap.css" />{# Стили#}
    <link rel="stylesheet" type="text/css" href="/media/css/style.css" />{# Стили bootstrap #}
    <script type="text/javascript" src="/media/js/jquery-1.8.0.min.js"></script>{# JQuery #}

    <script type="text/javascript" src="/media/ckeditor/ckeditor.js"></script>{# Делаем из texarea редактор #}
    <script type="text/javascript" src="/media/js/jquery.contextmenu.js"></script> {#Для реакции на правую кнопку мыши#}
    <script type="text/javascript" src="/media/js/main.js"></script> {# Файл с обработкой всех остальных событий - самый главный файл #}

    <script type="text/javascript" src="/media/js/farbtastic.js"></script> {# Выбор цвета #}


    <script type="text/javascript" src="/media/js/bootstrap.min.js"></script> {# bootstrap#}
</head>
<body>
    <div class="shadow" onclick="showPopup(false)"></div>
    <div class="popup"></div>
    <div class='hidden add_node_form'>
        <div class="modal">
            <form>
                <div class="modal-header">
                    <button type="button" class="close" onclick="showPopup(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3>Введите название</h3>
                </div>
                <div class="modal-body">
                    <input type=hidden name='node_id' value="{{ node.id }}">
                    <div class="control-group">
                        <label class="control-label" for="add_node_name_text">Название</label>
                        <div class="controls">
                            <input type='text' class="input-block-level"  id='add_node_name_text'>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn" onclick="showPopup(false)"><i class="icon-remove"></i> Отменить</a>
                    <input type='button' class="btn btn-primary confirm" onclick="CreateTie($(this).parent().attr('id'), $(this).attr('id'), $('#add_node_name_text').val())" value='Добавить'>
                </div>
            </form>
        </div>
    </div>
    <div id="wrapper">
        <div class="navbar" style='margin-bottom: 0'>
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="/"><span class="logo"></span>AnyChart Requirements Tree</a>
                    <ul class="nav">
                        {% if user.is_authenticated %}

                            <li> <span>  Здравствуй, {{ user.first_name }} {{ user.last_name }}!</span></li>
                            <li><a id="login_space" class="registration {% for group in user.groups.all %} {{ group }} {% endfor %}" href="{% url auth_logout %}">Выйти</a></li>
                            {% else %}
                                {% if cur_product %}
                                    <li> <a href="{% url auth_login %}">Войти</a></li>
                                {% else %}
                                    <li> <span> Для начала работы необходимо <a href="{% url auth_login %}">войти на сайт</a></span></li>
                                {% endif %}
                            {% endif %}
                    </ul>
                    {% if user.is_authenticated %}
                        <ul class="nav pull-right">
                            {% if cur_product %}
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ cur_product.title }} <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        {%  for product in products %}
                                            <li onclick="changeProduct('{{ product.short_name }}')">
                                                <label class="menu checkbox" for="product_{{ product.short_name }}" >
                                                <input style='margin: -3px 0 0 0;' type="radio" value="{{ product.id }}" id="product_{{ product.short_name }}" name = "product" {% if product == cur_product %} checked {% endif %}>
                                                {{ product.title }}
                                                </label>
                                            </li>
                                        {% endfor  %}
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Справочники<b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/{{ cur_product.short_name }}/catalog/#1" onclick="changeCatalog(1)">Статусы требований </a></li>
                                        <li><a href="/{{ cur_product.short_name }}/catalog/#2" onclick="changeCatalog(2)">Источники требований </a></li>
                                        <li><a href="/{{ cur_product.short_name }}/catalog/#3" onclick="changeCatalog(3)">Релизы </a></li>
                                        <li><a href="/{{ cur_product.short_name }}/catalog/#4" onclick="changeCatalog(4)">Пользователи </a></li>
                                    </ul>
                                </li>

                            {% endif %}
                            <li class="divider-vertical"></li>
                            <li><a href="#">Статистика</a></li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>

       {% include main_content %}
    </div>
</body>

</html>