<div class="panel">
    <div class="current">
        <div class="status" style="color:{{ node.cur_status.color }};{% for i in colorItems %}{% if i.status.id == node.cur_status.id %}color:{{ i.color }};{% endif %}{% endfor %}">
            <span class="status_{{ node.cur_status.id }}"></span>{{ node.cur_status.title }}
        </div>
        <br class="clearfix"/>

    </div>
    <div class="tools" onclick="$('ul.tools').toggle()">Редактирование<span class="opener"></span></div>
    <ul class="tools" id='{{ node.type }}_{{ node.name_id }}'>
        <li class="edit " onclick="editNode($(this).parent().attr('id'))">
                <i class="icon-edit"></i> Редактировать
        </li>
        <li class="history " onclick="viewNodeHistory($(this).parent().attr('id'))">
            <i class="icon-time"></i> Посмотреть историю
        </li>
        <li class="delete " onclick="showDeleteNodePopup($(this).parent().attr('id'))">
            <i class="icon-trash"></i> Удалить
        </li>
    </ul>
</div>

<div class="second_panel">
    <table class="people">
        {% if  node.curator %}
            <tr><td class="staff">Куратор: </td><td><a href="mailto:{{ node.curator.email }}">{{ node.curator.first_name }} {{ node.curator.last_name }}</a></td></tr>
        {% endif %}
        {% if  node.developer %}
            <tr><td class="staff">Разработчик: </td><td><a href="mailto:{{ node.developer.email }}">{{ node.developer.first_name }} {{ node.developer.last_name }}</a></td></tr>
        {% endif %}
        {% if  node.tester %}
            <tr><td class="staff">Тестировщик: </td><td><a href="mailto:{{ node.tester.email }}">{{ node.tester.first_name }} {{ node.tester.last_name }}</a></td></tr>
        {% endif %}
    </table>

    <table class="data">
        <tr class="time" >
            <td class="staff">Создано: </td><td>{{ node.creation_date.date }}</td>
        </tr>
        <tr class="time" >
            <td class="staff">Изменено: </td><td>{{ node.last_modified_date }}</td>
        </tr>
        {% if  node.cur_release %}
            <tr><td class="staff">Релиз: </td><td><a href='#'>{{ node.cur_release }}</a></td></tr>
        {% endif %}

        {% if  node.source %}
            <tr><td class="staff">Источник: </td><td>{{ node.source }}</td></tr>
        {% endif %}
        {% if  node.source_description %}
            <tr><td class="staff">Уточнение источника: </td><td>{{ node.source_description|safe }}</td></tr>
        {% endif %}
    </table>
<br class="clearfix">
</div>

<div class='description'>
    <div class="node_files">    </div>
    <br class="clearfix">
    {% if  node.content %}
        <div style="margin-top: 20px">{{ node.content|safe }}</div>
    {% endif %}
</div>

<div class='hidden deletion_form'>
    <div class="modal">
        <form>
            <div class="modal-header">
                <button type="button" class="close" onclick="showPopup(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Удаление требования</h3>
            </div>
            <div class="modal-body">
                <input type=hidden name='node_id' value="{{ node.id }}">
                <div class="control-group">
                    <label class="control-label" for="deletion_comment">Ваш комментарий</label>
                    <div class="controls">
                        <textarea class="input-block-level" id='deletion_comment'></textarea>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <a class="btn" onclick="showPopup(false)"><i class="icon-remove"></i> Отменить</a>
                <input type='button' class="btn btn-primary" onclick="DeleteNode($(this).attr('id'), $('#deletion_comment').val())" value='Удалить'>
            </div>
        </form>
    </div>
</div>