<div class="panel">
    <div class="current">
        <div class="status" style="color:{{ node.cur_status.color }}">
            <span class="status_{{ node.cur_status.id }}"></span>{{ node.cur_status.title }}
        </div>
        <br class="clearfix"/>
        <div class="time" >
            <span>Создано: </span>{{ node.creation_date.date }}
        </div>
        <div class="time" >
            <span>Изменено: </span>{{ node.last_modified_date }}
        </div>
    </div>
    <div class="tools" id='{{ node.id }}'>
        <div class="edit button" onclick="editNode($(this).parent().attr('id'))">
                <span class="edit node"></span>
                Редактировать
                <span class="end_button"></span>
        </div>
        <div class="history button" onclick="viewNodeHistory($(this).parent().attr('id'))">
            <span class="info node"></span>
            Посмотреть историю
            <span class="end_button"></span>
        </div>
        <div class="delete button" onclick="showDeleteNodePopup($(this).parent().attr('id'))">
            <span class="delete node"></span>
            Удалить
            <span class="end_button"></span>
        </div>
    </div>
</div>

<div class='content_node'>
    <div class='table'>
        {% if  node.cur_release %}
            <div><div class="release">Релиз: </div><div><a href='#'>{{ node.cur_release }}</a></div></div>
        {% endif %}
        {% if  node.source %}
            <div><div>Источник: </div><div>{{ node.source }}</div></div>
        {% endif %}
        {% if  node.source_description %}
            <div><div>Уточнение источника: </div><div><a href='#'>{{ node.source_description|safe }}</a></div></div>
        {% endif %}
        {% if  node.curator %}
            <div><div>Куратор: </div><div>{{ node.curator.first_name }} {{ node.curator.last_name }}</div></div>
        {% endif %}
        {% if  node.developer %}
            <div><div>Разработчик: </div><div>{{ node.developer.first_name }} {{ node.developer.last_name }}</div></div>
        {% endif %}
        {% if  node.tester %}
            <div><div>Тестировщик: </div><div>{{ node.tester.first_name }} {{ node.tester.last_name }}</div></div>
        {% endif %}
        {% if  node.content %}
            <div><div>Описание: </div><div>{{ node.content|safe }}</div></div>
        {% endif %}
        {% if not node.files %}
            <div>
                <div>Файлы: </div>
                <div>
                    {% for file in node.files.all %}
                        <a href="/media/{{ file.file }}">{{ file.name }}</a>;
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
</div>

<div class='hidden deletion_form'>
    <div class="cover_form">
        <textarea id='deletion_comment'>Оставьте комметарий</textarea>
        <div class="cancel button" onclick="showPopup(false)">
            <span class="delete"></span>
            Отменить
            <span class="end_button"></span>
        </div>
        <div class="confirm button" onclick="DeleteNode($(this).parent().attr('id'), $('#deletion_comment').val())">
            <span class="status_5"></span>
            Удалить
            <span class="end_button"></span>
        </div>
    </div>
</div>