<div class='table edit'>
<form method="post" action="/saveNodeEdition/">{% csrf_token %}
    <div>
        <div id='name'><label for='node_name_{{ node.id }}'>Имя:</label></div>
        <div id='name_redaction'>
            <input type='text' id='node_name_{{ node.id }}' name='name' value="{{ node.node.name }}"/>
        </div>
    </div>
    <div id='description'>
        <div><label for='node_descr_{{ node.id }}'>Описание:</label></div>
        <div id='req_description'>
            <textarea id="node_descr_{{ node.id }}" class="big_text" name='description'>{{node.description}}</textarea>
        </div>
    </div>
    <div id='redaction'>
        <div id='files'>Файлы:</div>
        <div id='files_redaction'>
            {% for i in node.files.all %}
                <div id="new_line"></div><input type="checkbox" checked="true" id="file_{{ i.id }}" name="node_files" value="file_{{ i.id }}">
                <a target="_blank" href='/media/{{ i.file }}' > {{ i.name }}</a>;
            {% endfor %}
            <div><input type="button" id='add_file_in_node' value='добавить файл'></div>
        </div>
    </div>
    <div id='reason_of_redaction'>
        <div><label for='reason_of_redaction_node_{{ node.id }}'>Обоснование внесения изменений:</label></div>
        <div id='descr_redaction'>
            <textarea id="reason_of_redaction_node_{{ node.id }}" class="small_text" name='edit_description'>{{node.edit_description}}</textarea>
        </div>
    </div>
    <div id='curator'>
        <div><label for='curator_of_{{ node.id }}'>Назначить нового куратора:</label></div>
        <div id='curator_edition'>
            <textarea id="curator_edition_{{ node.id }}" class="small_text" name='curator'>{{node.edit_description}}</textarea>
        </div>
    </div>
    <div>
        <div>
            <div class="hidden">
                <input type="text" name='node' value="{{node.node.id}}"/>
                <input type="text" name='release' value="{{node.release}}"/>
            </div>
        </div>
        <div><input type="submit" value="Сохранить редакцию"></div>
    </div>
</form>
    <div id='form_to_upload_files_in_node' class="hidden">
        <form target="upload_frame" enctype="multipart/form-data" action="/addingFilesInNodes/" method="post">{% csrf_token %}
            <div class='hidden'>
                <input type="text" name='node_id' id='node_id' value="{{ node.id }}">
            </div>
            <input id="added_file" type="file" class="file" name="added_file" >
            <br><input type="text" value="введи новое имя файла" id="file_name" name="file_name" onclick="if(this.value=='введи новое имя файла'){this.value=''}" onblur="if(this.value==''){this.value='введи новое имя файла';this.style.color='';}"/>
            <input type="submit" class="submit" value="Upload" id='submiting_adding_file'>
            <iframe id="upload_frame" name="upload_frame" style="display: none"></iframe>
        </form>
    </div>
</div>

<div class='table read'>
    <div>
        <div>Имя:</div>
        <div>{{ node.node.name }}
        </div>
    </div>
    {% if node.status %}
        <div >
            <div>Текущий статус:</div>
            <div>{{node.status}}
            </div>
        </div>
    {% endif %}

    {% if node.curator %}
        <div >
            <div>Куратор:</div>
            <div>{{node.curator}}
            </div>
        </div>
    {% endif %}

    {% if node.release %}
        <div >
            <div>Релиз:</div>
            <div>{{node.release}}
            </div>
        </div>
    {% endif %}

    {% if node.description %}
        <div>
            <div>Описание:</div>
            <div>{{node.description|safe}}
            </div>
        </div>
    {% endif %}
    <div>
        <div>Файлы:</div>
        <div>
            {% for i in node.files.all %}
                <a target="_blank" href='/media/{{ i.file }}' > {{ i.name }}</a>;
            {% endfor %}
        </div>
    </div>
</div>