<div class='table edit'>
    <form method="post" action="/saveRequirementEdition/">{% csrf_token %}
        <div>
            <div id='name'><label for='req_name_{{ req.id }}'>Имя:</label></div>
            <div id='name_redaction'>
                <input type='text' id='req_name_{{ req.id }}' name='name' value="{{ req.requirement.name }}"/>
            </div>
        </div>
        <div id='purpose'>
            <div><label for='req_purpose_{{ req.id }}'>Цель создания:</label></div>
            <div id='req_purpose'>
                <input type="text" id="req_purpose_{{ req.id }}" name='reason' value="{{req.purpose}}"/>
            </div>
        </div>
        <div>
            <div><label for='select_task'> Задача:</label></div>
            <div style="border: 1px">
                <select name="cur_task" id='select_task'>
                    {% for i in task.all %}
                        <option value="task_{{ i.id }}">{{ i.title }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div id='description'>
            <div><label for='req_descr_{{ req.id }}'>Описание:</label></div>
            <div id='req_description'>
                <textarea id="req_descr_{{ req.id }}" class="big_text" name='description'>{{req.description}}</textarea>
            </div>
        </div>
        <div id='redaction'>
            <div id='files'>Файлы:</div>
            <div id='files_redaction'>
                {% for i in req.files.all %}
                    <div id="new_line"></div><input type="checkbox" id="file_{{ i.id }}" value="file_{{ i.id }}">
                    <a target="_blank" href='/media/{{ i.file }}' > {{ i.name }}</a>;
                {% endfor %}
            </div>
        </div>
        <div id='reason_of_redaction'>
            <div><label for='reason_of_redaction_req_{{ req.id }}'>Обоснование внесения изменений:</label></div>
            <div id='descr_redaction'>
                <textarea id="reason_of_redaction_req_{{ req.id }}" class="small_text" name='edit_description'>{{req.edit_description}}</textarea>
            </div>
        </div>
        <div>
            <div>
                <div class="hidden">
                    <input type="text" name='req' value="{{req.requirement.id}}"/>
                    <input type="text" name='release' value="{{req.release}}"/>
                    <select size="5" multiple="true" name='req_files' id='files_sel'>
                        {% for i in req.files.all %}
                            <option value="file_{{ i.id }}" selected>{{ i.id }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div><input type="submit" value="Сохранить редакцию"></div>
        </div>
    </form>
</div>

<div class='table read'>
    <div>
        <div>Имя:</div>
        <div>{{ req.requirement.name }}
        </div>
    </div>
    {% if req.purpose %}
        <div >
            <div>Цель создания:</div>
            <div>{{req.purpose}}
            </div>
        </div>
    {% endif %}
    <div>
        <div>Задача:</div>
        <div>
        </div>
    </div>
    {% if req.description %}
        <div>
            <div>Описание:</div>
            <div>{{req.description|safe}}
            </div>
        </div>
    {% endif %}
    <div>
        <div>Файлы:</div>
        <div>
            {% for i in req.files.all %}
                <a target="_blank" href='/media/{{ i.file }}' > {{ i.name }}</a>;
            {% endfor %}
        </div>
    </div>
</div>