<style type="text/css">
    <!--
    .table {display:table; width: 100%}
    .table div {display:table-row}
    .table div div {display:table-cell; vertical-align: middle; margin:10px; padding:10px 5px;}
    -->
    #descr_redaction {
        width:80%;
        height:400px;
    }
    #redaction{
        width:100%
    }
    #reason_redaction{
        width:100%;
    }
</style>

<div class='table' id='common'>

    <div>
        <div id='name'>имя:</div>
        <div id='name_redaction'>
            <input maxlength="40" size="45" type='text' id='req_name_{{ req.id }}' value="{{ req.requirement.name }}"/>
        </div>
    </div>
    <div id='reason'>
        <div>цель создания:</div>
        <div id='reason_redaction'>
            <input style="width: 100%" type="text" id="req_purpose_{{ req.id }}" value="{{req.purpose}}"/>
        </div>
    </div>
    <div id='descr'>
        <div>описание:</div>
        <div id='descr_redaction'>
            <textarea rows="4" cols="300" id="req_descr_{{ req.id }}">{{req.description}}</textarea>
        </div>
    </div>
    <div>
        <div>поставить задачу:</div>
        <div style="border: 1px">
            <select name="menu" size="3">
                {% for i in task.all %}
                    <option value="task_{{ i.id }}">{{ i.title }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <h3>Приложение:</h3>
    <div id='redaction'>
        <div id='files'>прикреплённые файлы:</div>
        <div id='files_redaction'>
            {% for i in req.files.all %}
                <a target="_blank" href='/media/{{ i.file }}' > {{ i.name }}</a>;
            {% endfor %}
        </div>
    </div>

</div>