<div class="panel">
    <ul class="save_tools" id='{{ node.id }}'>
        <li class="repair disable" onclick="">
            <span class="edit node"></span>
            Восстановить узлы
        </li>
    </ul>
</div>
<div class="table trash">
    <div class='content_node'>
        {% if nodes %}
            <table class="table"  style="margin:-1px 0 60px 0">
                <tbody>
                <th><td colspan="4"><h4>Удаленные узлы</h4></td></th>
                    {% for item in nodes %}
                        <tr>
                            <td style="color:#104E8B; width: 3%"><input type="checkbox" id='node_{{ item.id_node.id }}' onclick='checkTrash()'> </td>
                            <td style=" width: 22%"> <label for ='node_{{ item.id_node.id }}'>{{ item.id_node.title }} </label></td>
                            <td style=" width: 25%">{{ item.date }}</td>
                            <td style="color:#1c1c1c; width: 50%">{{ item.description }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
        {% if requirements %}
            <table class="table">
                <tbody>
                <th><td colspan="4"><h4>Удаленные требования</h4></td></th>
                {% for item in requirements %}
                    <tr>
                        <td style="color:#104E8B; width: 3%"><input type="checkbox" id='node_{{ item.id_node.id }}' onclick='checkTrash()'> </td>
                        <td style=" width: 22%"> <label for ='node_{{ item.id_node.id }}'>{{ item.id_node.title }} </label></td>
                        <td style=" width: 25%">{{ item.date }}</td>
                        <td  style="color:#1c1c1c; width: 50%">{{ item.description }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
</div>