<!doctype html>
<html>
<head>
    <title>AnyChart live tree</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="icon" type="image/ico" href="/media/i/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="/media/css/bootstrap.css" />{# Стили #}

</head>
<body>
    <div class="login">
        {% block content %}

            {% if user.is_authenticated %}
                Что такое, {{ user.username }}? Вы же уже авторизорваны.
                Впрочем, всегда можно <a href="{% url auth_logout %}">выйти</a>.<br/><br/>
            {% else %}

                {% if form.non_field_errors %}
                    {{ form.non_field_errors }}
                {% endif %}

                <div class="modal">
                    <form class="form" method="post" action="">{% csrf_token %}
                        <div class="modal-body">
                            {% for field in form %}
                                <div class="control-group">
                                    <label class="control-label">{{ field.label_tag }}</label>
                                    <div class="controls">
                                        {{ field }}

                                        {% if field.help_text %}<span class="help-inline">{{ field.help_text }}</span>{% endif %}
                                        {% if field.errors %}<span class="help-inline">{{ field.errors }}</span>{% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="modal-footer">
                            <div style="float: left">
                                <label class="checkbox">
                                    <input type="checkbox"> Запомнить меня
                                </label>
                            </div>

                            <button type="submit" class="btn btn-primary">Войти</button>
                        </div>
                    </form>
                </div>

                <script type="text/javascript">
                        document.getElementById('id_username').focus();
                        el = parent.document.getElementById('id_password').parentNode;
                        el.innerHTML = el.innerHTML + '<span class="help-block"><a href="{% url auth_password_reset %}">Забыли пароль?</a></span>';
                        addClass(parent.document.getElementById('id_password'), 'input-block-level');
                        addClass(parent.document.getElementById('id_username'), 'input-block-level');
                        function addClass(o, c){
                            var re = new RegExp("(^|\\s)" + c + "(\\s|$)", "g")
                            if (re.test(o.className)) return
                            o.className = (o.className + " " + c).replace(/\s+/g, " ").replace(/(^ | $)/g, "")
                        }
                </script>
            {% endif %}
        {% endblock %}
    </div>
</body>
</html>